<div>
    <div>
        <div>
            <a class="p-link" href="{{host}}/modules/incidents/{{displayResult.id}}">View Incident in CyberSponse</a>
        </div>
        <h1 class="p-title">
            {{displayResult.name}}
        </h1>
        {{#each displayResult.items as |item|}}
        <div>
            <span class="p-key">{{item.key}}</span>

            <!-- sometimes we get html back so don't escape it -->
            <span class="p-value">{{{item.value}}}</span>
        </div>
        {{/each}} {{#if hasIndicators}}
        <h1 class="p-title">
            Indicators
        </h1>

        {{#each indicators as |indicator|}}
        <div>
            <a class="p-link" href="{{host}}/modules/indicators/{{indicator.id}}">View Indicator in CyberSponse</a>
        </div>
        <h2 class="p-title">
            {{indicator.title}}
        </h2>
        {{#each indicator.items as |item|}}
        <div>
            <span class="p-key">{{item.key}}</span>
            <!-- sometimes we get html back so don't escape it -->
            <span class="p-value">{{{item.value}}}</span>
        </div>
        {{/each}}
        <h2 class="p-title">
            Sightings
        </h2>{{#each indicator.sightings as |sighting|}}
        <div>
            <span class="p-key">{{sighting.key}}</span>
            <!-- sometimes we get html back so don't escape it -->
            <span class="p-value">{{{sighting.value}}}</span>
        </div>
        {{/each}} {{/each}} {{/if}}

        <h1 class="p-title">
            Actions
        </h1>

        <div>
            <div>
                <select size=3 onchange={{action 'onSelectPlaybook' value="target.value" }}>
                    {{#each details.actions as |action|}}
                    <option value="{{action.invoke}}">{{action.name}}</option>
                    {{/each}}
                </select>
                <button {{action "invokePlaybook" invoke displayResult.alert }} class="btn material btn-primary">Run</button>
                <div>{{status}}</div>
            </div>
        </div>
        <br />
    </div>
</div>